# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
.next
out
build
*.tsbuildinfo

# Bun
bun.lockb

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# PM2 logs
logs
*.log

# IDE
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
