/* Catppuccin theme */

html[data-theme="catpuccin"] {
    --background: rgb(239, 241, 245);
    --foreground: rgb(76, 79, 105);
    --card: rgb(255, 255, 255);
    --card-foreground: rgb(76, 79, 105);
    --popover: rgb(204, 208, 218);
    --popover-foreground: rgb(76, 79, 105);
    --primary: rgb(136, 57, 239);
    --primary-foreground: rgb(255, 255, 255);
    --secondary: rgb(204, 208, 218);
    --secondary-foreground: rgb(76, 79, 105);
    --muted: rgb(220, 224, 232);
    --muted-foreground: rgb(108, 111, 133);
    --accent: rgb(4, 165, 229);
    --accent-foreground: rgb(255, 255, 255);
    --destructive: rgb(210, 15, 57);
    --destructive-foreground: rgb(255, 255, 255);
    --border: rgb(188, 192, 204);
    --input: rgb(204, 208, 218);
    --ring: rgb(136, 57, 239);
    --chart-1: rgb(136, 57, 239);
    --chart-2: rgb(4, 165, 229);
    --chart-3: rgb(64, 160, 43);
    --chart-4: rgb(254, 100, 11);
    --chart-5: rgb(220, 138, 120);
    --sidebar: rgb(230, 233, 239);
    --sidebar-foreground: rgb(76, 79, 105);
    --sidebar-primary: rgb(136, 57, 239);
    --sidebar-primary-foreground: rgb(255, 255, 255);
    --sidebar-accent: rgb(4, 165, 229);
    --sidebar-accent-foreground: rgb(255, 255, 255);
    --sidebar-border: rgb(188, 192, 204);
    --sidebar-ring: rgb(136, 57, 239);
    --font-sans: Montserrat, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.35rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 6px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.12;
    --shadow-color: hsl(240 30% 25%);
    --shadow-2xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
    --shadow-xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
    --shadow-sm: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow-md: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
    --shadow-lg: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
    --shadow-xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
    --shadow-2xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.3);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

html[data-theme="catpuccin"].dark {
    --background: rgb(24, 24, 37);
    --foreground: rgb(205, 214, 244);
    --card: rgb(30, 30, 46);
    --card-foreground: rgb(205, 214, 244);
    --popover: rgb(69, 71, 90);
    --popover-foreground: rgb(205, 214, 244);
    --primary: rgb(203, 166, 247);
    --primary-foreground: rgb(30, 30, 46);
    --secondary: rgb(88, 91, 112);
    --secondary-foreground: rgb(205, 214, 244);
    --muted: rgb(41, 44, 60);
    --muted-foreground: rgb(166, 173, 200);
    --accent: rgb(137, 220, 235);
    --accent-foreground: rgb(30, 30, 46);
    --destructive: rgb(243, 139, 168);
    --destructive-foreground: rgb(30, 30, 46);
    --border: rgb(49, 50, 68);
    --input: rgb(49, 50, 68);
    --ring: rgb(203, 166, 247);
    --chart-1: rgb(203, 166, 247);
    --chart-2: rgb(137, 220, 235);
    --chart-3: rgb(166, 227, 161);
    --chart-4: rgb(250, 179, 135);
    --chart-5: rgb(245, 224, 220);
    --sidebar: rgb(17, 17, 27);
    --sidebar-foreground: rgb(205, 214, 244);
    --sidebar-primary: rgb(203, 166, 247);
    --sidebar-primary-foreground: rgb(30, 30, 46);
    --sidebar-accent: rgb(137, 220, 235);
    --sidebar-accent-foreground: rgb(30, 30, 46);
    --sidebar-border: rgb(69, 71, 90);
    --sidebar-ring: rgb(203, 166, 247);
    --font-sans: Montserrat, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.35rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 6px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.12;
    --shadow-color: hsl(240 30% 25%);
    --shadow-2xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
    --shadow-xs: 0px 4px 6px 0px hsl(240 30% 25% / 0.06);
    --shadow-sm: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow-md: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
    --shadow-lg: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
    --shadow-xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
    --shadow-2xl: 0px 4px 6px 0px hsl(240 30% 25% / 0.3);
}
