/* Cyberpunk theme */

html[data-theme="cyberpunk"] {
    --background: rgb(248, 249, 250);
    --foreground: rgb(12, 12, 29);
    --card: rgb(255, 255, 255);
    --card-foreground: rgb(12, 12, 29);
    --popover: rgb(255, 255, 255);
    --popover-foreground: rgb(12, 12, 29);
    --primary: rgb(255, 0, 200);
    --primary-foreground: rgb(255, 255, 255);
    --secondary: rgb(240, 240, 255);
    --secondary-foreground: rgb(12, 12, 29);
    --muted: rgb(240, 240, 255);
    --muted-foreground: rgb(12, 12, 29);
    --accent: rgb(0, 255, 204);
    --accent-foreground: rgb(12, 12, 29);
    --destructive: rgb(255, 61, 0);
    --destructive-foreground: rgb(255, 255, 255);
    --border: rgb(223, 230, 233);
    --input: rgb(223, 230, 233);
    --ring: rgb(255, 0, 200);
    --chart-1: rgb(255, 0, 200);
    --chart-2: rgb(144, 0, 255);
    --chart-3: rgb(0, 229, 255);
    --chart-4: rgb(0, 255, 204);
    --chart-5: rgb(255, 230, 0);
    --sidebar: rgb(240, 240, 255);
    --sidebar-foreground: rgb(12, 12, 29);
    --sidebar-primary: rgb(255, 0, 200);
    --sidebar-primary-foreground: rgb(255, 255, 255);
    --sidebar-accent: rgb(0, 255, 204);
    --sidebar-accent-foreground: rgb(12, 12, 29);
    --sidebar-border: rgb(223, 230, 233);
    --sidebar-ring: rgb(255, 0, 200);
    --font-sans: Outfit, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 8px;
    --shadow-spread: -2px;
    --shadow-opacity: 0.1;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 2px 4px -3px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 4px 6px -3px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 8px 10px -3px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

html[data-theme="cyberpunk"].dark {
    --background: rgb(12, 12, 29);
    --foreground: rgb(236, 239, 244);
    --card: rgb(30, 30, 63);
    --card-foreground: rgb(236, 239, 244);
    --popover: rgb(30, 30, 63);
    --popover-foreground: rgb(236, 239, 244);
    --primary: rgb(255, 0, 200);
    --primary-foreground: rgb(255, 255, 255);
    --secondary: rgb(30, 30, 63);
    --secondary-foreground: rgb(236, 239, 244);
    --muted: rgb(21, 21, 48);
    --muted-foreground: rgb(128, 133, 166);
    --accent: rgb(0, 255, 204);
    --accent-foreground: rgb(12, 12, 29);
    --destructive: rgb(255, 61, 0);
    --destructive-foreground: rgb(255, 255, 255);
    --border: rgb(46, 46, 94);
    --input: rgb(46, 46, 94);
    --ring: rgb(255, 0, 200);
    --chart-1: rgb(255, 0, 200);
    --chart-2: rgb(144, 0, 255);
    --chart-3: rgb(0, 229, 255);
    --chart-4: rgb(0, 255, 204);
    --chart-5: rgb(255, 230, 0);
    --sidebar: rgb(12, 12, 29);
    --sidebar-foreground: rgb(236, 239, 244);
    --sidebar-primary: rgb(255, 0, 200);
    --sidebar-primary-foreground: rgb(255, 255, 255);
    --sidebar-accent: rgb(0, 255, 204);
    --sidebar-accent-foreground: rgb(12, 12, 29);
    --sidebar-border: rgb(46, 46, 94);
    --sidebar-ring: rgb(255, 0, 200);
    --font-sans: Outfit, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Fira Code, monospace;
    --radius: 0.5rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 8px;
    --shadow-spread: -2px;
    --shadow-opacity: 0.1;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 2px 4px -3px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 4px 6px -3px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.1), 0px 8px 10px -3px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);
}
